.footer {
  font-style: italic;
  background-image: url(background.jpg); 
  background-size: 100%;
  position: relative;
  bottom: 4px;
  width: 100%;
  min-height: 100px;
  text-align: center;
  clear: left;
}